<template>
    <div class="About">
      <el-row>
            
    <el-col>
       <h1>{{title}}</h1>
      <el-form :inline="true" :model="form">
        <el-form-item label="Dirección">
         <el-input v-model="form.address" placeholder="dirección"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="register">Agregar</el-button>
        </el-form-item>
      </el-form>
      </el-col>
      </el-row>

      <el-row>
    
      <el-col >
     
     <!-- <h2>the client id is :{{$route.params.Pid}}</h2> -->
       <div  v-for="(n,index) in data" :key="index">
     <div v-if="clieId == n.id">
      <h2>{{n.name}}</h2>
      <el-avatar :size="50" :src="n.avatar"></el-avatar>
      <p>Principal: {{n.address}}</p> 
      <!-- <p v-if="n.children !== null">{{n.children}}</p> -->
      <el-card  shadow="never" style="width: 100%">
      <div v-for="(o, index) in n.children" :key="index">
        <span>{{o.address}}</span>
        <el-divider></el-divider>

      </div>
      </el-card>
    
     </div>
    </div> 

      </el-col>
  
        </el-row>
    </div>
</template>
<script>
export default {
    name: 'About',
    data(){
        return{
        clieId: null,
        data: null,
        title: 'About',
        children: [],
        form: { address: ''},

        }
    },
   created () {
    this.clieId = this.$route.params.Pid
    this.data = this.$route.params
    },
    methods:{
      register(){
        // console.log(this.data.data.children)
       this.data.data.children.push({  // bad
          address: this.form.address})
       
      }
    }
}
</script>