<template>
  <div class="home">
    <!-- <img alt="Vue logo" src="../assets/logo.png"> -->
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
    <el-header>
       <h1>Clientes</h1>
    </el-header> <br>
  
      <el-form :inline="true" :model="form">
        <el-form-item label="Nombre">
          <el-input v-model="form.name" placeholder="nombre"></el-input>
        </el-form-item>
        <el-form-item label="Dirección">
         <el-input v-model="form.address" placeholder="dirección"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="register">Agregar</el-button>
        </el-form-item>
      </el-form>
   
 

       <el-table
      :data="tableData"
      style="width: 100%"
      expand-all>
       <el-table-column type="expand">
      <template slot-scope="props">
        <p v-if="props.row.children.length !== 0">{{props.row.children[0].address}}</p>
        <p v-else>{{props.row.address}}</p>

        <el-button type="text" @click="toAbout(props.row.id, props.row)" style="font-size: 13px;"> Ver más </el-button>
  
      </template>
       </el-table-column>
      <el-table-column
        prop="avatar"
        label="#"
        width="100">
        <template slot-scope="scope">
             <el-avatar :src="scope.row.avatar"></el-avatar>
        </template>
      </el-table-column>
      <el-table-column
        prop="name"
        label="Nombre"
        width="180">
        <template slot-scope="scope">
             <span>{{scope.row.name}}</span>
        </template>

      </el-table-column>
      <el-table-column
        prop="address"
        label="Dirección"
        width="250">
      </el-table-column>
      <el-table-column
      label="Operaciones"
      >
      <template >
        <el-button type="text" icon="el-icon-more"></el-button>
      </template>
    </el-table-column>
    </el-table>


  </div>
</template>
<script>

export default {
  name: 'home',
  data() {
        return {
          form: {address: '', name: ''},
          children: [],
          tableData: [{
            id: 1,
            avatar: 'https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png',
            name: 'Tom',
            address: 'No. 189, Grove St, Los Angeles',
            children: [{
               address: 'No. 189, Grove St, California',
             }]
             
          }, {
            id: 2,
            avatar: 'https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png',
            name: 'Jerry',
            address: 'No. 189, Grove St, Los Angeles',
            children: []
          }, {
            id: 3,
            avatar: 'https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png',
            name: 'Lisa',
            address: 'No. 189, Grove St, Los Angeles',
            children: [{
               address: 'No. 189, Grove St, California',
             }]
          }, {
            id: 4,
            avatar: 'https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png',
            name: 'Harry',
            address: 'No. 189, Grove St, Los Angeles',
            children: [{
               address: 'No. 189, Grove St, California',
             }]
          }]
        }
      },
      methods:{
        toAbout(clieId, data){
          this.$router.push({name:'About',params:{Pid:clieId, data}})
        },

        register(){
          var form = this.form
          this.tableData.push({
            id: this.tableData.length+1,
            avatar: 'https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png',
            name: form.name, // dont send?
            address: form.address,
            children: this.children
          })

          console.log(this.tableData)
          
        }


      }

  
}
</script>
 