<template>
  <div id="app">
   <el-menu  mode="horizontal">
  <el-menu-item index="1" @click="goHome">Home</el-menu-item>
 
  <el-menu-item index="2" disabled>Info</el-menu-item>
</el-menu>
    <!-- <navbar></navbar> -->
    <!-- <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link> |
      <router-link to="/register">Registrar</router-link>
    </div> -->
    <el-main>
       <router-view/>
    </el-main>
  </div>
  
</template>
<style>
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
   margin: 0;
   font-family: 'Nunito Sans', sans-serif;
}

h1{
  font-weight: 800;
  font-family: 'Fredoka One', cursive;
}
#app {
  /* font-family: Avenir, Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
/* 
#nav {
  padding: 30px;
}


#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
} */
</style>
<script>
export default {
  data(){},
  methods:{
    goHome(){
      this.$router.go(-1)
    }
  }
}
</script>
